@CHARSET "ISO-8859-1";
#content{
	width:800px;
	background: F5F5F5;
	height: 300px;	
}

#content div#imageframe {
	
	width:300px;
	float:left;
	border-color: 1px solid red;
}

#content div#detailsframe {	
	width:480px;
	float:right;
	border-color: 1px solid red;
}

